<div class="container single-anime">
  <div class="title">{{anime.Anime.title}}</div>
  <div class="qualitites">{{anime.Anime.qualities}}</div>
  <a href="{{anime.Anime.link}}" target="_blank"><i class="material-icons">open_in_browser</i></a>

  <button class="waves-effect waves-light indigo darken-3 btn" ng-click="anime.loadAnime()">Load links</button>

  <input-field class="search">
    <input ng-model="anime.query" type="text" id="search" name="search">
    <label for="search"></label>
    <i class="material-icons prefix">search</i>
  </input-field>

  <button class="waves-effect waves-light green darken-2 btn"
          ng-click="anime.downloadSelected()"
          ng-disabled="anime.selectedEpisodes.size === 0">
    Download selected Links
  </button>
  <button class="waves-effect waves-light green darken-2 btn"
          ng-click="anime.selectAll()">
    Select all
  </button>

  <div class="resolutions">
    <div ng-repeat="res in anime.resolutions">
      <button class="waves-effect waves-light indigo darken-3 btn"
              ng-click="anime.resolution = res"
              ng-class="anime.resolution === res ? 'green' : ''">
        {{res}}({{anime.Links[res].length}})
      </button>
    </div>
  </div>

  <div dnd-list="anime.Links[anime.resolution]" class="list-720">
    <li ng-repeat="item in anime.Links[anime.resolution] | filter:anime.filter() "
        dnd-draggable="item"
        dnd-moved="anime.Links[720].splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': anime.isSelected(item)}"
        ng-click="anime.toggleEpisode(item)"
    >
      <a href="{{item.link}}" target="_blank">{{item.title}}</a>

    </li>
  </div>

  <!--<pre style="position: absolute; left: 0; top: 200px; right: 0;">{{anime.Links | json}}</pre>-->
</div>
