<div class="container anime">
  <h1>Anime</h1>
  <input-field class="search">
    <input ng-model="home.query" type="text" id="search" name="search" ng-change="home.search()">
    <label for="search"></label>
    <i class="material-icons prefix">search</i>
  </input-field>
  <!--Fuzzy-->
  <!--<div class="switch">-->
  <!--<label>-->
  <!--Off-->
  <!--<input type="checkbox" ng-model="home.fuzzy">-->
  <!--<span class="lever"></span>-->
  <!--On-->
  <!--</label>-->
  <!--</div>-->

  <div class="anime--single" ng-repeat="anime in home.Anime">
    <a href="#" ui-sref="admin.anime({id: anime.id})">
      <div class="title">{{anime.title}}</div>
      <!--<div class="qualitites">{{anime.qualitites}}</div>-->
    </a>

    <!--<a href="{{anime.link}}" target="_blank"><i class="material-icons">open_in_browser</i></a>-->
  </div>
</div>
