<div class="container">

  <form class="form-login" name="vm.form" novalidate>

    <h2 class="form-login--heading">{{'LOGIN.TITLE'|translate}}</h2>
    <input-field>
      <input type="email" name="email" id="inputEmail" ng-model="vm.email"
             required autofocus>
      <label>{{'LABEL.EMAIL'|translate}}</label>
    </input-field>
    <input-field>
      <label for="inputPassword" class="sr-only">{{'LABEL.PASSWORD'|translate}}</label>
      <input type="password" name="password" id="inputPassword" ng-model="vm.password"
             required>
    </input-field>
    <button class="waves-effect waves-light btn indigo darken-2 " type="submit" ng-click="vm.submit()">
      {{'LOGIN.SUBMIT'|translate}}
    </button>

  </form>

</div> <!-- /container -->
