<div class="container">

  <form class="form-login" name="vm.form" novalidate ng-hide="vm.promise.isFulfilled()">

    <h2 class="form-login--heading">{{'LOGIN.TITLE'|translate}}</h2>

    <div class="alert alert-danger" role="alert" ng-show="vm.promise.isRejected()">
      <strong>Oh snap!</strong> {{'LOGIN.MESSAGES.ERROR'|translate}}
    </div>

    <label for="inputEmail" class="sr-only">{{'LABEL.EMAIL'|translate}}</label>
    <input type="email" name="email" id="inputEmail" ng-model="vm.email"
           placeholder="{{'LABEL.EMAIL'|translate}}" required autofocus>

    <label for="inputPassword" class="sr-only">{{'LABEL.PASSWORD'|translate}}</label>
    <input type="password" name="password" id="inputPassword" ng-model="vm.password"
           placeholder="{{'LABEL.PASSWORD'|translate}}" required>

    <md-button type="submit" ng-click="vm.submit()"
               ng-disabled="vm.form.$invalid">
      {{'LOGIN.SUBMIT'|translate}}
    </md-button>

  </form>

</div> <!-- /container -->
