html {
  height: 100%;
}

body {
  @extend .blue, .lighten-4;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  .rootview {
    max-width: 800px;
    width: 100%;
    height: 100%;
  }
}
