.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 15px;

  button {
    @extend .secondary-text;
  }

  $black: #000;

  .input-field {
    label {
      @extend .secondary-text;
    }
    input[type=text], input[type=password], input[type=email] {
      border-bottom: 1px solid color("indigo", "darken-3");
      &:focus {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 1px 0 0 color("indigo", "darken-3");
        + label {
          color: $black;
        }
      }
    }
    .prefix.active {
      color: $black;
    }
  }
}
