$grey-lighter: rgb(228, 228, 228);
$grey-light: rgb(207, 207, 207);
$grey-darker: rgb(151, 151, 151);

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;

$header-height: 70px;
$footer-height: 30px;
$padding: 15px;
