.anime {
  i {
    @extend .indigo-text, .text-darken-3;
  }

  &--single {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    a {
      @extend .white-text;
      
    }
  }

  .search .input-field {
    padding-left: 30px;
    .prefix {
      padding-top: 10px;
      left: 0;
      top: 0;
    }
  }
}
