.single-anime {

  .resolutions {
    display: flex;

    margin-top: 20px;

  }

  .list-720 {
    list-style: none;
    li {
      border: 1px solid white;
      &.selected {
        border: 1px solid color("deep-orange", "darken-2");
      }
      a {
        @extend .white-text;
      }
    }
  }
}
