<div class="navbar-fixed">
  <nav>
    <div class="navbar-wrapper">

      <div class="center brand-logo">
        <a href="#" ui-sref="admin.home">
          <img class="brand" src="assets/images/Logo.png">
        </a>
      </div>
      <ul id="nav-mobile" class="left">
        <li class="active"><a ui-sref="admin.home">Anime</a></li>
      </ul>
      <ul id="nav-mobile2" class="right">
        <li><a ui-sref="public.login" translate>COMMON.LOGOUT</a></li>
      </ul>
  </nav>
</div>
<div ng-hide="navigation.searchActive" ui-view="content"></div>
<fcb-search-results class="container" ng-show="navigation.searchActive" search-string="navigation.searchString"
                    use-list="navigation.displaySearchResultsAsList"></fcb-search-results>
