# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
typings/
platforms/
plugins/
lib/
www/css/
www/index.html
www/src/**/*.js
www/app.debug.js

.idea
.DS_Store
.temp
.sass-cache
.npm-debug.log
.vscode

src/lib/
temp/
tmp/
dist/
.tmp/
old/
src/index.html
src/app.debug.js
bower_components/
.DS_Store
npm-debug.log
src/assets/css/
typings/
src/app/**/*.js
test/unit/**/*.js
src/app/**/*.js.map
test/**/*.js.map
src/assets/configs/config.json
